*.cmi
*.cmx
*.o

*.vo
*.vok
*.vos
*.glob
*.aux
.*.aux
*.crashcoqide
Makefile.coq
Makefile.coq.conf
Makefile.rocq
Makefile.rocq.conf
.Makefile.rocq.d
.coqdeps.d
result
wit_parser_bin

src/extraction
docs
__pycache__
